.site-command {
    background-color: $color-bg-secondary;
    text-align: center;
}
.site-command__item{
    flex-basis: calc(100% / 4 - var(--set-margin));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
}
.site-command__body{
    padding: 30px;
}
.site-command__name{
    color: $color-black;
    font-weight: 500;
    line-height: 1.18;
    font-size: 16px;
    margin-bottom: 10px;
}
.site-command__text{
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}
.card-set-ico{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.card-set-ico__item{
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: $color-ico;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{
        background-color: $color-blue;
        fill: $color-white;
    }
    &--footer{
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: $timing-function;
    }
}